@model Cloud_Property.Models.LoginModel

@{
    ViewBag.Title = "Login";
}


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Alchemy Software | Property</title>

    <!-- stylesheets -->
    <link href="~/Content/homeDesign/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/css/animate.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/css/style.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/css/loginScreen.css" rel="stylesheet" />
    <!-- end stylesheets -->
    <!-- js libray -->
    <script src="~/Content/homeDesign/js/jquery-2.1.3.js"></script>
</head>
<body>

    <!--header start-->
    <header class="animated slideInDown">
        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="col-md-3">

                                    <a class="navbar-brand" href="../Home/">Cloud Property</a>
                                </div>


                                <!--left menu-->
                                <div class="col-md-5 col-xs-12 animated fadeIn" id="leftMenu">
                                    <ul>
                                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Faq", "Faq", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        <!--<li> <a href="#" style="padding: 13px;"><img src="images/facebook.png" alt="facebook"></a></li>-->

                                    </ul>
                                </div>
                                <!--end left menu-->
                                <!--menu right-->
                                <div class="col-md-4 col-xs-10 pull-right text-left" id="rightMenu">
                                    <ul>

                                        <li><a href="../Login/"> Login</a></li>
                                        <li>
                                            <a href="https://www.facebook.com/AlchemySoftware" target="_blank"> <i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/alchemybd" target="_blank"> <i class="fa fa-twitter"></i></a>
                                            <a href="https://plus.google.com/100639053145643474788" target="_blank"> <i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <!-- <li>
                                            <a href="#" class=""> <i class="fa fa-facebook"></i></a>
                                            <a href="#" class=""> <i class="fa fa-twitter"></i></a>
                                            <a href="#" class=""> <i class="fa fa-google-plus"></i></a>
                                        </li> -->
                                        <!-- <li><a href="contact.php" class="">Request for DEMO : +88 01988 844 987</a></li> -->
                                    </ul>
                                </div>
                                <!--end menu right-->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!--header end-->
    <!--main slider start-->
    <section id="slider">
        <div class="wrapper">
            <div id="owl-rs">
                <img src="~/Content/homeDesign/images/slider/slide-2.png" alt="slide-1" />
                <img src="~/Content/homeDesign/images/slider/slide-3.png" alt="slide-1" />
                <img src="~/Content/homeDesign/images/slider/slide-4.png" alt="slide-1" />
            </div>

            <div class="welcome animated slideInUp">
                <h2>Welcome to,</h2>
                <p>Best Cloud Based Property Management Software</p>
                <h3>Quick Contact</h3>
                <p>+88 01988 844 987</p>
            </div>
        </div>

    </section>
    <!--end main slider-->
    <!-- clients section -->
    <section id="clientsSlider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" id="owl-clients">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end clients section -->
    <!--info section-->
    <br>

    <section id="info">
        <div class="container">
            <div class="row">

                <div class="col-md-12" id="features">
                    <h2 class="text-center">Features</h2>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, no mollis regione accusamus qui. Legere voluptua
                    </p>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="flat-icon">
                                <div class="iconbox left">
                                    <div class="box-header v1">
                                        <i class="fa fa-list"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Project Details</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v2">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Project Costing/Expenses</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v3">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Operating P/L Project</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v4">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Operating P/L Group</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v5">
                                        <i class="fa fa-adn"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Ongoing/Upcoming/Handover</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v5">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Financial Management</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v4">
                                        <i class="fa fa-area-chart"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Project/Store Stock</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v5">
                                        <i class="fa fa-calculator"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Purchase/Issue/Transfer</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v5">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Supplier Wise Purchase</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Lorem ipsum dolor sit ,no regione, dolor mollis regione.dolor sit amet,doloramet tmollis  regione.dolor amet, dolor sit.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                            </div><!-- /flat-icon -->
                        </div>
                    </div>



                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" id="benefits">
                    <h2 class="text-center">Benefits</h2>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, no mollis regione accusamus qui. Legere voluptua
                    </p>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="flat-icon">
                                <div class="iconbox left">
                                    <div class="box-header v1">
                                        <i class="fa fa-coffee"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Save time</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Save time, Reduce labor cost, increase overall efficiency regarding book keeping</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v2">
                                        <i class="fa fa-cubes"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Instant information</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Get the information instantly from anywhere of the world any time</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v3">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Auto Up-gradation</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Auto Up-gradation facilities whenever new version will release.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v4">
                                        <i class="fa fa-area-chart"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Unlimited space</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Unlimited space for data storage</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v5">
                                        <i class="fa fa-gears"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Zero Configuration</a>
                                        </div>
                                        <div class="box-content">
                                            <p>No setup require just login and use like facebook, gmail, yahoo etc. account</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->

                                <div class="iconbox left">
                                    <div class="box-header v6">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <div class="icon-post">
                                        <div class="box-title">
                                            <a href="#">Flexibility</a>
                                        </div>
                                        <div class="box-content">
                                            <p>Flexibility to stop service any time by giving one months prior notice.</p>
                                        </div>
                                    </div>
                                </div><!-- /.iconbox -->
                            </div><!-- /flat-icon -->
                        </div>
                    </div>

                    <!-- <a id="benifits" href="about.php" class="btn">Read More</a> -->
                </div>

            </div>
            <br />
    </section>
    <!--end info section-->
    <hr>

    <br>
    <!--Top footer section-->
    <section id="topFooter" class="white-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h3>
                            About Us
                        </h3>
                        <p>
                            Alchemy Software is a growing IT service provider of high-end business solutions to clients
                            across the globe. Over the years, the company extended the range of its
                            services in various industries. Alchemy Software devoted its full effort on customer
                            satisfaction by providing standard software solutions.
                        </p>
                        <a href="http://alchemy-bd.com" class="">
                            Read More
                        </a>
                    </div>
                    <div class="col-md-3">
                        <h3>
                            PRODUCTS IN CLOUD
                        </h3>
                        <ul>
                            <li>
                                <a href="http://travel.alchemy-bd.com" target="_blank">
                                    Travel Agent Management
                                </a>
                            </li>
                            <li>
                                <a href="http://cnf.alchemy-bd.com" target="_blank">
                                    HMS Agent Management
                                </a>
                            </li>
                            <li>
                                <a href="http://pos.alchemy-bd.com" target="_blank">
                                    Inventory Management
                                </a>
                            </li>
                            <li>
                                <a href="http://accounts.alchemy-bd.com" target="_blank">
                                    General Accounts
                                </a>
                            </li>
                            <li>
                                <a href="http://therapy.alchemy-bd.com" target="_blank">
                                    Therapy Management
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>
                            SERVICES WE PROVIDE
                        </h3>
                        Ready Software Packages<br />
                        ERP Software Development<br />
                        Web Application Development<br />
                        Mobile Application Development<br />
                        E-commerce Site Development<br />
                        Website Development<br />
                        SMS Integrated Application<br />
                        Customized Software<br />
                        API Integration<br />
                        SEO (Search Engine Optimization)<br />
                        Security & Surveillance System
                    </div>
                    <div class="col-md-3">
                        <h3>
                            We are for our clients
                        </h3>
                        <a href="http://client.alchemy-bd.com" target="_blank"
                           class="btn btn-primary clientLoginBtn btn-xs">
                            <i class="fa fa-user">
                            </i>Login
                        </a>
                        <span style="font-size: 11px;padding-left: 2px;position: relative;top: 4px;">
                            200+ clients use this.
                        </span>
                        <h3>
                            We are in Facebook
                        </h3>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/AlchemySoftware"
                                scrolling="no" frameborder="0" style="border:none; width:240px;height:auto"></iframe>

                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
    <!--end top footer-->
    <!--footer part-->
    <footer>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Developed By : <a href="http://www.alchemy-bd.com" target="_blank">Alchemy Software</a></p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!--end footer part-->
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <!-- login screen -->
        <div id="loginScreen">
            <div id="loginHeader">
                <div id="loginClose">
                    <a href="#" style="text-decoration:none" id="closeForm"><p>&times;</p></a>
                </div>
                <h2>Alchemy Software</h2>
                <p>Artificier For Animating Your Aspiration</p>
            </div>
            @if (ViewData["ErrorMessage"] != null)
            {
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="alert alert-danger text-center" role="alert" style="color: #FFFFFF;background-color: #CB5454;  border-color: #CB5454;padding: 10px 20px 10px 50px;">
                            <button type="button" class="close" data-dismiss="alert" style="padding: 7px 10px; background: #FFFFFF; border: 1px; border-radius: 40px;">&times;</button>
                            <h5>Warning!  @ViewData["ErrorMessage"]<i style="color: #ffffff" class="fa fa-question-circle fa-1x"></i></h5>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            }
            <div id="navigation">
                <a href="#" style="text-decoration:none" id="btnLoginBody">LOGIN</a>
            </div>
            <!-- login body -->

            <div id="loginBody" class="mainBody">
                <p class="Arrow"><i class="fa fa-caret-up fa-2x"></i></p>
                <form action="#">
                    @Html.TextBoxFor(m => m.LOGINID, htmlAttributes: new { @class = "form-control", placeholder = "Login ID" })
                    @Html.ValidationMessageFor(model => model.LOGINID, "", new { @class = "text-danger", style = "float: left" })

                    @Html.PasswordFor(m => m.LOGINPW, htmlAttributes: new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.LOGINPW, "", new { @class = "text-danger", style = "float: left" })

                    @Html.TextBoxFor(model => model.LOGLTUDE, new { id = "latlon", style = "display: none;" })
                    <input id="lat" type="hidden" />
                    <input id="lon" type="hidden" />

                    <button type="submit" class="btn btn-primary" style="background: #2e6da4; color: #FFF;">Login</button>
                    @*<input type="text" class="form-control" placeholder="Email">
                        <input type="text" class="form-control" placeholder="Password">
                        <br />
                        <button type="submit" class="btn btn-primary">Login</button>*@
                </form>
                <br />
                <p><a href="#" id="btnForgotPass">Forgot my password</a></p>
            </div>
            <!-- end login body -->
            <!-- reset password body -->
            <div id="passwordResetBody" class="mainBody">
                <h4 align="left">Reset your password</h4>
                <p align="left">
                    Enter your email address below. We'll look for your account and send you a password
                    reset email
                </p>
                <br />
                <form action="#">
                    <input type="text" class="form-control" placeholder="Email">
                    <br />
                    <button type="submit" class="btn btn-primary" style="background: #2e6da4; color: #FFF;">Send Password Reset</button>
                </form>
                <br />

            </div>
            <!-- end reset password -->
        </div>


        //Latitute & longitude
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <script language="javascript" type="text/javascript">
            $(function () {
                navigator.geolocation.getCurrentPosition(showPosition);
                //navigator.geolocation.getCurrentPosition(showPosition, positionError);

                function showPosition(position) {
                    var coordinates = position.coords;
                    $("#lat").val(coordinates.latitude);
                    $("#lon").val(coordinates.longitude);

                    $("#latlon").val(
                        $("#lat").val() + "," + $("#lon").val()
                    );
                }
            });

        </script>
    }
    <!-- end login screen -->


    <a href="#" id="backToTop"><i data-toggle="tooltip" data-placement="top" title="Go to top" class="fa  fa-chevron-circle-up fa-2x"></i></a>
    <!-- other scripts -->
    <script src="~/Content/homeDesign/js/bootstrap.min.js"></script>
    <script src="~/Content/homeDesign/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/homeDesign/js/jquery.cookie.js"></script>
    <script src="~/Content/homeDesign/js/functions.js"></script>
    <script src="~/Content/homeDesign/js/loginScreen.js"></script>
    <!-- end other scripts -->
</body>
</html>